.button_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.button {
  width: 75vw;
  height: 8vh;
  background: #df3063;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
  border: none;
  border-radius: 2px;
}

.button:active{
  background: #be234f;
}

.button:hover {
  cursor: pointer;
}

@media (min-width : 769px){
 .button{
   width: 32%;
 } 
}