.medicareBanner {
  /* background-image: url("https://i.imgur.com/00jKUMd.jpg"); */
  background-image: url("https://i.imgur.com/aFyanw2.png");
  background-position: right;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
}

.medicarePromo {
  width: 100vw;
  background-image: url("https://i.imgur.com/mZPLpOM.jpg");
  background-position: center;
}

.medicareBanner div {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}
.medicareBanner h1 {
  color: #002c45;
  width: 80vw;
}
.medicareBanner p {
  color: #00405e;
  font-size: 24px;
  font-weight: normal;
}

.medicareBanner .button {
  width: 80vw;
}

@media (min-width: 769px) {
  .medicareBanner {
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
  }
  .medicareBanner div {
    width: auto;
    padding: 20px;
  }
  .medicareBanner h1 {
    font-size: 40px;
    width: 80%;
  }
  .medicareBanner p {
    width: 80%;
    font-size: 24px;
    padding-bottom: 12px;
  }
  .medicareBanner .button {
    width: auto;
  }
}
