.layout {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px 0px #00324e;
}

.layout_text {
  width: 100vw;
  height: 36vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#004869, #00324e);
  padding: 36px 0px;
}
.layout_text h1 {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  width: 80%;
  line-height: 48px;
}
.layout_text p {
  font-size: 20px;
  font-weight: 500;
  color: #d1f0ff;
  width: 80%;
  line-height: 32px;
  padding-top: 12px;
}
.layout_img {
  width: 100vw;
  height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3399cc;   */
  background-image: radial-gradient(#0cb6f2, #0c8dba);
  overflow: hidden;
}

.layout_img img {
  width: 250px;
  z-index: 1;
  cursor: pointer;
  align-self: center;
}
.layout_img p {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  line-height: 40px;
  text-align: center;
  width: 80%;
  margin-top: 20px;
}

.layout_img img:hover {
  width: 300px;
}

@media (min-width: 769px) {
  .layout {
    flex-direction: row;
  }
  .layout_text {
    height: 45vh;
    width: 45vw;
    padding: 0;
  }

  .layout_text h1 {
    width: 60%;
  }
  .layout_text p {
    width: 60%;
    margin-top: 0px;
  }
  .layout_img {
    height: 45vh;
    width: 55vw;
    flex-direction: row;
    justify-content: space-around;
  }
  .layout_img p {
    font-size: 32px;
    line-height: 48px;
    width: 40%;
  }
  .layout_img img {
    width: 350px;
    align-self: flex-end;
    padding-right: 24px;
  }
  .layout_img img:hover {
    width: 352px;
  }
}
