.dentalBanner {
  height: 500px;
  background-image: url("https://i.imgur.com/5SegLK5.png");
  background-position: center;
}

.dentalBanner h1 {
  font-size: 40px;
  text-align: center;
}
.dentalBanner p {
  color: #414042;
  font-size: 24px;
  text-align: center;
  width: 80%;
  font-weight: 500;
}

@media (min-width: 769px) {
  .dentalBanner {
    height: 400px;
    background-image: url("https://i.imgur.com/jYRoMlz.png");
    background-position: right;
  }
}
