.mobile_banner {
  display: flex;
}
.videoWrapper{
  width: 100vw;
  overflow: hidden;
}
.videoWrapper video {
  width: 100vw;
}

.logo_white {
  animation: large_body 1.5s ease-out 0s 1;
}

@media (min-width: 769px) {
  .mobile_banner {
    display: none;
  }
}
