.hiwWrapper {
  width: 100vw;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border-bottom: 2px solid #e6e7e8;
}
.hiwContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.hiwContainer h1 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  /* line-height:24px ; */
  text-align: center;
  margin-bottom: 12px;
}
.hiwContainer p {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 32px;
}

.hiwStepContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #414042;
}
.hiwStepContainer div {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}
.iconContainer {
  height: 200px !important;
  overflow: hidden;
}
.iconContainer img {
  height: 180px;
  transition: height 0.2s ease-in-out;
}

.hiwStepContainer h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 12px;
}
.hiwStepContainer p {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 0px 32px;
}

.iconContainer img:hover {
  height: 184px;
  transition: height 0.1s ease-in-out;
}

@media (min-width: 769px) {
  .hiwWrapper {
    margin: 80px 0px;
    border-bottom: none;
  }
  .hiwContainer {
    flex-direction: column;
  }
  .hiwContainer h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 24px;
  }
  .hiwContainer p {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .hiwStepContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #414042;
  }
  .hiwStepContainer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin-bottom: 24px;
  }
  /* .hiwStepContainer img {
    height: 120px;
    margin-bottom: 24px;
  } */
  .hiwStepContainer h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .hiwStepContainer p {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 12px;
    padding: 0px 32px;
  }
}
