.card_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(#8ac03f00, #3399cc9c);
  padding: 24px 0px;
}
.card {
  width: 300px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  margin: 4px;
  background-color: #fff;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);
}
.card img {
  width: 100%;
  display: none;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
}

.container {
  text-align: center;
}
.container h1 {
  padding: 6px;
  font-weight: 700;
  letter-spacing: 1px;
}
.container p {
  color: #939598;
  padding-bottom: 12px;
}

.card:hover {
  cursor: pointer;
}
.container p:hover {
  color: #414042;
}

.container p:active {
  color: #e03063;
}

.learnMoreOpened {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#004869, #00324e);
}
.learnMoreOpened h1 {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  width: 80%;
  line-height: 48px;
  padding-top: 32px;
}
.learnMoreOpened p {
  font-size: 18px;
  color: #b6e7ff;
  width: 80%;
  line-height: 32px;
  padding: 20px 24px;
}

.card img:hover {
  width: 102%;
  transition: 0.2s ease-in;
}

.active {
  background-color: #004969;
}
.active h1 {
  color: #fff;
}
.active p {
  color: #b6e7ff;
}
.active p:hover {
  color: #71b2d3;
}

.arrow {
 display: none;
}

@media (min-width: 769px) {
  .card {
    width: 200px;
    margin: 20px;
    padding: 0px;
  }

  .card img {
    display: flex;
    /* width: 200px; */
    height: 200px;
  }
  .container h1 {
    padding: 12px;
  }
  .container p {
    padding-bottom: 36px;
  }
  .arrow {
    position: absolute;
    display: flex;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    bottom: 0;
    padding-bottom: 12px;
  }
}
