.card_container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}
.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  margin: 20px;
  background-color: #FFF;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);

}
.card img {
  width: 100%;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
}

.container {
  text-align: center;
}
.container h1 {
  padding: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.container p {
  color: #939598;
  padding-bottom: 36px;
}

.card:hover {
  cursor: pointer;
}
.container p:hover {
  color: #414042;
}

.container p:active {
  color: #e03063;
}

.learnMore_container{
  
}

@media (min-width: 769px) {

  .card {
    width: 200px;
  }

}
