.home_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full_title {
  font-size: 36px;
  font-weight: 900;
  text-align: left;
  line-height: 48px;
  padding: 36px;
  color: #004869;
}
.full_body {
  font-size: 20px;
  line-height: 40px;
  padding: 0px 36px;
}

.products_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.large-body {
  text-align: center;
}

.pic {
  width: 100vw;
  height: 400px;
  background-color: #3399cc;
  background-position: center; /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.layout_text {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #004869;
}
.layout_text h1{

}
.layout_text p{

}
.layout_img {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3399cc;
}
@media (min-width: 769px) {
  .home_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .large-body {
    text-align: center;
  }
  .pic {
    height: 500px;
  }
  .layout {
    flex-direction: row;
  }
  .layout_text {
    width: 50vw;
  }
  .layout_img {
    width: 50vw;
  }
}
