.home_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full_title {
  width: 80%;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  line-height: 48px;
  padding: 48px 36px 12px 36px;
  color: #004869;
}
.full_title_center {
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  line-height: 48px;
  padding: 48px 36px 12px 36px;
  color: #004869;
}
.full_body {
  font-size: 20px;
  line-height: 40px;
  padding: 0px 36px;
  text-align: left;
}
.full_body_center {
  width: 80%;
  font-size: 20px;
  line-height: 40px;
  padding: 0px 36px;
  text-align: center;
}

.products_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.large-body {
  text-align: center;
}

.banner {
  width: 100vw;
  background-color: #3399cc;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeBanner {
  background-image: url("https://i.imgur.com/kDIwxvt.jpg");
  width: 100vw;
  height: 400px;
  background-position: center;
}
.homePromo{
  background-image: url("https://i.imgur.com/RkPaNDp.jpg");
  width: 100vw;
  height: 400px;
  background-position: center;
}

.banner h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 48px;
  padding-bottom: 24px;
  color: #39383a;
}
.banner p {
  width: 80%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 40px;
  color: #888a8d;
}
.banner img{

}

.medicareBanner{

}



.banner2 {
  height: 200px;
  background-image: url("https://i.imgur.com/9QRiM4N.jpg");

}
.howItWorks {
  height: 600px;
  background-image: url("https://i.imgur.com/z4Rpp2r.jpg");
  background-position: center;
}
.pic3 {
  height: 200px;
  background-image: url("https://i.imgur.com/TKwgY0l.jpg");
  background-position: center;
}
.pic4 {
  height: 200px;
  background-image: url("https://i.imgur.com/tw7tNQN.jpg");
  background-position: center;
}
.pic5 {
  height: 200px;
  background-image: url("https://i.imgur.com/k8IMWtX.jpg");
  background-position: center;
}
.pic6 {
  width: 100vw;
  background-image: url("https://i.imgur.com/mZPLpOM.jpg");
  background-position: center;
}
.dentalPic {
  height: 500px;
  background-image: url("https://i.imgur.com/mZPLpOM.jpg");
}

.banner img {
  width: 80vw;
}

.pic .quote {
  padding-top: 52px;
  color: #fff;
}

@media (min-width: 769px) {
  .home_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .large-body {
    text-align: center;
  }

  .full_title {
    font-size: 48px;
  }
  .full_title_center {
    font-size: 48px;
  }
  .full_body {
    margin-bottom: 24px;
    width: 80%;
  }
  .banner img {
    width: 28vw;
  }
  .banner .quote {
    padding-top: 32px;
    color: #fff;
  }

  .banner h1 {
    font-size: 60px;
  }
  .banner p {
    width: 100%;
    font-size: 28px;
  }
}
