.home_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full_title {
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  line-height: 48px;
  padding: 48px 36px 12px 36px;
  color: #004869;
}
.full_body {
  font-size: 20px;
  line-height: 40px;
  padding: 0px 36px;
}

.products_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.large-body {
  text-align: center;
}

.pic {
  width: 100vw;
  height: 300px;
  background-image: url("https://i.imgur.com/nENeKza.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pic p{
color: #fff;
opacity: .5;
}

.pic2 {
  width: 100vw;
  height: 400px;
  background-image: url("https://i.imgur.com/fYgSGR2.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.pic3 {
  width: 100vw;
  height: 400px;
  background-image: url("https://i.imgur.com/TKwgY0l.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.pic4 {
  width: 100vw;
  height: 400px;
  background-image: url("https://i.imgur.com/qc0Ph8o.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.pic5 {
  width: 100vw;
  height: 500px;
  background-image: url("https://i.imgur.com/UmX1ISV.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.pic6 {
  width: 100vw;
  height: 300px;
  background-image: url("https://i.imgur.com/GdImt8g.jpg");
  background-color: #3399cc;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.pic img {
  width: 80vw;
  opacity: 0.5;
}

@media (min-width: 769px) {
  .home_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .large-body {
    text-align: center;
  }
  .pic {
    height: 400px;
  }
  .full_title {
    font-size: 36px;
  }
  .full_body {
    margin-bottom: 24px;
  }
  .pic img {
    width: 28vw;
  }
}
