.footer_wrapper {
  bottom: 0px;
  /* width: 100%; */
  background-color: #004869;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer_container {
  width: 80vw;
}

.footer_container li {
  padding: 24px 0px;
  text-decoration: none;
  color: #ffffff;
}

.footer_number {
  text-decoration: none;
  color: #ffffff;
}
.footer_phone{
  height: 16px;
  padding: 0px 4px;
}

.footer_copyright{
  text-align: center;
}

.foot_container li:hover,
.foot_container li:active {
  color: #df3063;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_logo {
  width: 150px;
  padding: 24px 0px;
  align-self: center;
}

.social_media_wrapper {
}
.social_media_icon {
}

@media (min-width: 769px) {
  .footer_wrapper {
    width: 100%;
  }
  .footer_logo {
    width: 200px;
    padding: 36px 0px;
  }
}
