.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #414042;
}
.text_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 36px;
  font-weight: 900;
  line-height: 48px;
  padding: 80px 0px 36px 0px;
  color: #004869;
}

.large_body {
  width: 100%;
  font-size: 16px;
  line-height: 40px;
}

.body {
  font-size: 18px;
  line-height: 40px;
}

.quote {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: #727272;
  text-align: center;
  padding-bottom: 32px;
}

.banner {
  width: 100vw;
  height: 36vh;
  overflow: hidden;
}

.whiteSpace16 {
  margin-bottom: 16px;
}
.whiteSpace32 {
  margin-bottom: 32px;
}
.whiteSpace48 {
  margin-bottom: 48px;
}
.whiteSpace64 {
  margin-bottom: 64px;
}
.whiteSpace72 {
  margin-bottom: 72px;
}

@media (min-width: 769px) {
  .title {
    width: 100%;
    font-size: 36px;
    text-align: left;
  }
  .large_body {
    font-size: 20px;
  }
  .banner {
    width: 64vw;
  }
}
