.call_wrapper {
  background-color: rgb(239, 240, 241);
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  box-shadow: 0 0 5px 0 #ccc;
}
.call_contianer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 48vw;
}

.call {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.75;
  padding: 24px;
  color: #414042;
}
.call_box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #004869;
  border-radius: 2px;
}
.call_box:active {
  background-color: #004869;
  box-shadow: 0 0 5px 0 #ccc;
}

.call_box:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.number {
  font-size: 20px;
  line-height: 48px;
  color: #004869;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 0px 32px;
}
.number:active {
  color: #ffff;
}

@media (min-width: 769px) {
  .call_wrapper {
    background-color: rgb(239, 240, 241);
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }

  .logo {
    width: 16vw;
  }
  .call {
    width: 80%;
    font-size: 24px;
  }
  .call_box {
    margin-bottom: 4%;
  }
  .number {
    padding: 0px 40px;
    font-size: 20px;
  }
}
