.nav_wrapper {
  background-color: #004869;
  background-image: linear-gradient(90deg, #004869, #216181);
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px 0 rgba(37, 37, 37, 0.589);
}

.hamburger {
  margin-right: 1rem;
}

.cfd_logo {
  height: 32px;
  padding-left: 24px;
}

.cfd_icon_mobile {
  height: 40px;
  margin-left: 1rem;
}

.items_nav {
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding-right: 24px;
}

.items_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

.items_nav li {
  padding: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.items_nav li:hover,
.items_nav li:active {
  color: #df3063;
  font-weight: bold;
}


@media (max-width: 768px) {
  .items_nav {
    display: none;
  }
  .cfd_logo {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav_wrapper {
    height: 10vh;
  }
  .cfd_icon_mobile {
    display: none;
  }
  .items_nav {
    font-size: 16px;
    font-weight: 400;
  }
  .nav_number {
    text-decoration: none;
    color: #ffffff;
  }
  .items_nav ul li ul {
    position: absolute;
    display: none;
    background-color: #df3063;
    width: 500px;
    right: 0px;
    top: 40px;
    border-radius: 0px 0px 4px 40px;
  }
  .items_nav ul li:hover ul {
    display: block;
  }
  .items_nav ul li ul li {
    padding: 12px 0px;
    text-align: center;
  }
}
