.bannerWrapper {
  background-color: #3399cc;
  height: 500px;
  width: 100vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic1{
  background-image: url("../../assets/pp1.jpg");
}
.medical{
  background-image: url("../../assets/medical.png");
}
.dentalPic{
  background-image: url("../../assets/dental_woman_laugh.jpg");
  background-position: left;
}
.visionKid{
  background-image: url("../../assets/kid_Vision.jpg");
  background-position: right;
}

.bannerTitle {
  font-size: 36px;
  font-weight: 900;
  line-height: 48px;
  padding: 24px 0px;
  color: #ffff;
}

.bannerText {
  font-size: 18px;
  line-height: 40px;
  color: #ffff;
}

.dontshow{
  display:none
}

@media (min-width: 769px) {
  .bannerTitle {
    font-size: 36px;
  }
  .bannerText {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .bannerWrapper{
    display:none;
  }
}
