.bannerWrapper {
  height: 500px;
  width: 100vw;
  background-color: #3399cc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic1 {
  background-image: url("https://drive.google.com/uc?export=view&id=1o8NFuYk9vxxEQTu2uNUq8hiAtGQe_n1v");
}
.medical {
  background-image: url("../../assets/medical.png");
}
.dentalPic {
  background-image: url("https://drive.google.com/uc?export=view&id=1VhsrOXY1c33gu8V9HCtLKCZ9pqJRJV5q");
  background-position: left;
}
.visionKid {
  background-image: url("https://i.imgur.com/7iULDVc.png");
  background-position: right;
}
.dental_kid {
  background-image: url("https://i.imgur.com/f4lflVy.png");
}

.bannerTitle {
  font-size: 36px;
  font-weight: 900;
  line-height: 48px;
  padding: 24px 0px;
  color: #ffff;
  animation: large_body 1000ms ease-out 0s 1;
}

.bannerText {
  font-size: 18px;
  line-height: 40px;
  color: #ffff;
  animation: large_body 1000ms ease-out 0s 1;
}

.dontshow {
  display: none;
}

@media (min-width: 769px) {
  .bannerTitle {
    font-size: 40px;
  }
  .bannerText {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .bannerWrapper {
    display: none;
  }
}
